# Ignora tutti i file temporanei di sistema
.DS_Store
Thumbs.db


# Ignora la cartella dei file di log
logs/
*.log

# Ignora i file relativi ai dati di mercato per ogni simbolo.
data/dataset/history_market_data/

# Ignora i file relativi ai dati di capitalizzazione di mercato per ogni simbolo.
data/dataset/capitalization/NASDAQ/all_mark_cap
data/dataset/capitalization/NYSE/all_mark_cap
data/dataset/capitalization/LARG_COMP_EU/all_mark_cap


# Ignora i file relativi relativi ai risultati delle simulazioni poiché sono troppo pesanti
data/result/


#Ignora i file relativi alla documentazione per ora
documents/


# Ignora il file di backup del database
work_historical/database/backup_database.sql